
{% extends 'base.html' %}


{% block titulo %}Agregar Ampollas{% endblock titulo %}
{% block contenido %}

<h1>Agregar Ampollas</h1>


<form class="text-dark" action="addrecord/" method="post">
{% csrf_token %}
Nombre Medicamento:<br>
<input name="nombreMedicamento">
<br><br>

Lote:<br>
<input name="lote"> 
<br><br>
Vencimiento:<br>
<input type="date" name="vencimiento">
<br><br>
Laboratorio:<br>
<input name="laboratorio">
<br><br>
Fecha:<br>
<input type="date" name="fecha">
<br><br>

Stock Critico:<br>
<input name="stockCritico" >
<br><br>
Cantidad Stock:<br>
<input name="cantidadStock">
<br><br>
Cantidad Dispensada:<br>
<input name="cantDispensada">
<br><br>
cantidad Ingresada:<br>
<input name="cantIngresada" >
<br><br>
Saldo Mensual:<br>
<br><br>
<input name="SaldoMensual" >




<input type="submit" value="Submit">


</form>


{% endblock contenido %}












































































































































































































































































































































































































































































































































