
{% extends 'base.html' %}
{% load static %}

{% block titulo %}Ampollas{% endblock titulo %}
{% block contenido %}
<h1>Ampollas</h1>


<table border="5" width="100%" class="table table-striped">
<tr>
    <th>ID</th>
    <th>Nombre Medicamento en Ampollas</th>
    <th>Cantidad Stock</th>
    <th>Cantidad Dispensada</th>
    <th>Cantidad Ingresada</th>
    
    <th>Acciones</th>
</tr>
{% for x in mymembers %}
<tr>
    <td>{{ x.id }}</td>
    <td>{{ x.nombreMedicamento }}</td>
    <td>{{ x.cantidadStock }}</td>
    <td>{{ x.cantDispensada }}</td>
    <td>{{ x.cantIngresada }}</td>
  
    <td>
        <a class="btn btn-outline-danger"href="delete/{{ x.id }}">Eliminar</a>
        <a class="btn btn-outline-dark " href="update/{{ x.id }}">Actualizar</a>
        <a class="btn btn-outline-primary text-info text-uppercase" href="add/">Agregar Ampollas</a>
    </td>
</tr>
{% endfor %}


<p>
<a class="btn btn-outline-primary text-info text-uppercase" href="add/">Agregar Ampollas</a>
</p>
{% endblock contenido %}}